[Dd]ebug/
[Bb]in/
[Oo]bj/

**/obj/
DoctorAppBackEnd/ClinicaAPI/obj
DoctorAppBackEnd/.vs/DoctorAppBackEnd/FileContentIndex
DoctorAppBackEnd/.vs/DoctorAppBackEnd/v17
DoctorAppBackEnd/Data/obj/Debug
DoctorAppBackEnd/Models/obj/Debug
DoctorAppBackEnd/Models/obj/project.nuget.cache
*.cache
DoctorAppBackEnd/Data/bin/Debug
DoctorAppBackEnd/Data/obj
DoctorAppBackEnd/Models/bin/Debug
DoctorAppBackEnd/Models/obj
DoctorAppBackEnd/ClinicaAPI/bin/Debug
DoctorAppBackEnd/.vs/DoctorAppBackEnd/DesignTimeBuild
